.articleItemContainer {
  background-color: black;
  border: solid 1px #110F0F;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 2px black;  
 
}

.toggleViewButton {
  border: none;
  color: var(--primary-header-color);
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: .5rem;
}
