:root {
  --primary-text-color: #d9d9d9;
  --primary-header-color: #C01919;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: black;
  background-image: url('/images/dark-bg-tile.jpg');
}



* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Russo One", sans-serif;
  letter-spacing: .15rem;
  color: var(--primary-header-color);
  margin: 0;
}

p {
  line-height: 1.35rem;
}
.heading-large {
  font-size: 3rem;
}

.heading-medium {
  font-size: 2rem;
}

.heading-small {
  font-size: 1.25rem;
}

.cmsHTMLContentContainer {
  overflow: hidden;
}
.cmsHTMLContentContainer img {
  width: 100%;
  height: auto;
}
